{% load i18n %}
{% autoescape off %}
{% blocktrans %}Вы получили это письмо, потому что запросили сброс пароля для вашего аккаунта на {{ site_name }}.{% endblocktrans %}

{% trans "Пожалуйста, перейдите по ссылке для сброса пароля:" %}
{% block reset_link %}
{{ protocol }}://{{ domain }}{% url 'users:password_reset_confirm' uidb64=uid token=token %}
{% endblock %}

{% trans "Ваш логин (на случай, если забыли):" %} {{ user.get_username }}

{% trans "Если вы не запрашивали сброс пароля, просто проигнорируйте это письмо." %}

{% blocktrans %}Спасибо за использование {{ site_name }}!{% endblocktrans %}
{% endautoescape %}